---
# Main installation actions (DNF)
# https://clickhouse.com/docs/en/getting-started/#installation

- name: Validate repo channel consistency
  ansible.builtin.assert:
    that:
      - (('rpm/stable' in clickhouse_repo) and ('rpm/stable' in clickhouse_repo_key))
        or
        (('rpm/lts' in clickhouse_repo) and ('rpm/lts' in clickhouse_repo_key))
    fail_msg: "clickhouse_repo and clickhouse_repo_key must both be 'stable' or both be 'lts'."
  tags: [install]

- name: Install by DNF | Ensure ClickHouse repo installed (metadata-signed)
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/clickhouse.repo
    mode: "0644"
    content: |
      [clickhouse]
      name=ClickHouse
      baseurl={{ clickhouse_repo }}
      enabled=1
      gpgcheck=0
      repo_gpgcheck=1
      gpgkey={{ clickhouse_repo_key }}
  tags: [install]
  become: true

- name: Install by DNF | Ensure ClickHouse packages installed (latest)
  ansible.builtin.dnf:
    name: "{{ clickhouse_package }}"
    state: latest
  become: true
  tags: [install]
  when: clickhouse_version == 'latest'

- name: Install by DNF | Ensure ClickHouse packages installed (version {{ clickhouse_version }})
  ansible.builtin.dnf:
    name: "{{ clickhouse_package | map('regex_replace', '$', '-' + clickhouse_version) | list }}"
    state: present
  become: true
  tags: [install]
  when: clickhouse_version != 'latest'
